@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e6ecff,
    #6dd5fa,
    #3985b8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #e6ecff,
    #6dd5fa,
    #3985b8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover; /* 背景が全体に広がるように設定 */
  background-attachment: fixed; /* 背景を固定 */
}
